@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #53729bd3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #314259;
    text-align: center;
    text-shadow: 1px 1px 2px #1c2631de;
}

h2{
    color: #5684BF;
}

body{
    background-image: linear-gradient(to right, #FDD7BE, #DA7F71)
}

p{
    text-align: justify;
}